@model IEnumerable<YFS_MVC.Models.BillModel>

<p>
    @Html.ActionLink("New Bill", "AddBill", null, new { @class = "btn btn-info" })
</p>


<ul class="list-unstyled">
    @foreach (var item in Model)
    {
        if (item.IsCurrent)
        {
            <li class="p-2">@Html.DisplayFor(modelItem => item.BillName)</li>
        }
    }
</ul>
