@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="welcome">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Your Fair Share: Balanced Rent Splitting</p>
    </div>
</section>

<section id="Menu">
    <div class="homepage container-fluid text-md-center">
        <ul>
            <li class="mb-4"><a href="#" class="btn-primary display-4 rounded-lg p-2">View HouseHold</a></li>
            <li class="mb-4"><a href="#" class="btn-primary display-4 rounded-lg p-2">View Bills</a></li>
            <li class="mb-4"><a href="#" class="btn-primary display-4 rounded-lg p-2">Add Roommate</a></li>
            <li class="mb-4"><a href="#" class="btn-primary display-4 rounded-lg p-2">Add Bills</a></li>
        </ul>

    </div>
</section>
