@model IEnumerable<YFS_MVC.ViewModels.AssignedBillViewModel>

@{
    ViewBag.Title = "ListPaidBills";
}

<div class="container">
    <div class="row">
        <h3>Bills Paid in full</h3>
        @Html.Partial("_ListPaidBills")
    </div>
</div>
</table>
